<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="tuduListsWebService"
		class="tudu.web.ws.impl.TuduListsWebServiceImpl">

		<property name="todoListsManager">
			<ref bean="todoListsManager" />
		</property>
		<property name="userManager">
			<ref bean="userManager" />
		</property>
	</bean>
</beans>