<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

	<display-name>Tudu Lists GWT implementaion</display-name>

	<!-- Define the basename for a resource bundle for I18N -->
	<context-param>
		<param-name>
			javax.servlet.jsp.jstl.fmt.localizationContext
		</param-name>
		<param-value>messages</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
					classpath:/tudu/domain/applicationContext-jpa.xml,
					classpath:/tudu/service/applicationContext.xml,
					classpath:/tudu/security/applicationContext-security.xml,
					/WEB-INF/spring/applicationContext-*</param-value>
	</context-param>
	
	<filter>
		<filter-name>Jamon Monitoring Filter</filter-name>
		<filter-class>
			tudu.web.filter.JAMonFilter
		</filter-class>
	</filter>
    
    <filter>
        <filter-name>Acegi Security Filter</filter-name>
        <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
        <init-param>
            <param-name>targetClass</param-name>
            <param-value>org.acegisecurity.util.FilterChainProxy</param-value>
        </init-param>
    </filter>
    
	<filter>
		<filter-name>Open Session In View Filter</filter-name>
		<filter-class>
			org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
		</filter-class>
	</filter>

	<!-- Filter mappings -->
	<filter-mapping>
		<filter-name>Jamon Monitoring Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>Open Session In View Filter</filter-name>
		<url-pattern>/j_acegi_security_check</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>Open Session In View Filter</filter-name>
		<url-pattern>/tudu.web.gwt.TuduGwt/secure/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>Acegi Security Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>TuduGwtRemoteServiceImpl</servlet-name>
		<servlet-class>tudu.web.gwt.server.TuduGwtRemoteServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TuduGwtRemoteServiceImpl</servlet-name>
		<url-pattern>/tudu.web.gwt.TuduGwt/secure/tudu_lists_remote_service</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
		
	<resource-ref>
		<description>Database Connection</description>
		<res-ref-name>jdbc/tudu</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>
